# Default owner of environments is Model Development Team
*                     @determined-ai/model-dev

# CI and Cloud-specific images are infra
/.circleci            @determined-ai/infrastructure
/cloud                @determined-ai/infrastructure

# Team-specific files
Dockerfile-infinityhub-pytorch  @determined-ai/pad
Dockerfile-infinityhub-hpc      @determined-ai/pad
