attrdict3
pandas
matplotlib
# TODO(DET-4259) Remove this when we fix the circular dependency with the main repo.
petname
azure-storage-blob
Pillow>=8.3.2,<=9.5.0
analytics-python
# google-api-python-client -> google-api-core -> googleapis-common-protos -> protobuf
# Horovod cannot build with protobuf > 3.20.x
# latest google-api-python-client requires protobuf >= 3.20.1
protobuf<=3.20.3
tensorboard==2.10.1
tokenizers==0.13.0
huggingface-hub==0.16.4
# necessary for benchmarks, but really should go into startup-hook.sh for that workflow
accelerate>=0.12.0
datasets
sentencepiece
evaluate
scikit-learn
transformers
