boto3>=1.9.220
cloudpickle==0.5.3
dill>=0.2.9
h5py>=2.9.0
lomond==0.3.3
matplotlib
packaging==19.0
mlflow==1.6.0
numpy>=1.16.2
psutil
pyzmq==18.1.0
requests>=2.20.0
simplejson==3.16.0
torch==1.4.0
torchvision==0.5.0
tensorflow==1.14.0
git+https://github.com/determined-ai/tensorpack.git@0cb4fe8e6e9b7de861c9a1e0d48ffff72b72138a
